.main {
    margin: 30px 50px;
}

.quantity {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1;
    color: darkgrey;
    margin-bottom: 20px;
}

.books {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(9, 1fr);
}